// src/assets/styles/pages/_dashboard.scss

.dashboard {
  padding: 2rem;
  min-height: 100vh;

  &__title {
    font-size: 50px;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  &__grid {
   display: grid;
    grid-template-columns: repeat(2, 1fr); // solo 2 columnas por defecto
    gap: 1.5rem;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__error,
  &__loading {
    text-align: center;
    font-size: 1rem;
    margin-top: 2rem;
    color: #aa0000;
  }
}
